useDynLib(ATE)
importFrom(Rcpp, evalCpp)
import(Matrix)

export(ATE,  CRFamily, CRFamilyDerivative, CRFamilySecondDerivative)
S3method(print, ATE)
S3method(summary, ATE)
S3method(plot, ATE)

S3method(print, summary.ATE)

