useDynLib(ATE)
importFrom(Rcpp, evalCpp)
import(Matrix)

export(ATE,  cpp_cr_rho,  cpp_dcr_rho, cpp_ddcr_rho)
S3method(print, ATE)
S3method(summary, ATE)
S3method(plot, ATE)

S3method(print, summary.ATE)

